.add-book-page {
  background-color: #f9f7f2;
  padding: 60px 20px;
  min-height: 30vh;
  display: flex;
}

.form-card {
  position: relative;
  background: #fffdf9; 
  border: 1px solid #e0ddd5;
  padding: 50px;
  max-width: 700px; 
  min-width: 500px;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.03);
}

.form-card::before {
  content: '';
  position: absolute;
  top: 10px; left: 10px; right: 10px; bottom: 10px;
  border: 1px solid #f0ede6;
  pointer-events: none;
}

.form-header {
  text-align: center;
  margin-bottom: 40px;
}

.form-header h2 {
  font-family: "Pinyon Script", cursive;
  font-size: 48px;
  color: #1a1a1a;
  margin: 0;
}

.subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  color: #a63d40;
  letter-spacing: 4px; 
  margin-top: 10px;
  display: block;
}

.search-container {
  margin-bottom: 30px;
}

.search-input {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #f0ede6;
  background: transparent;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.4s ease;
}

.search-input:focus {
  border: none;
  border-bottom-color: #a63d40;
  padding-left: 10px; 
}

.autocomplete-list {
  background: #fffdf9;
  border: 1px solid #333;
  box-shadow: 10px 10px 0px rgba(0,0,0,0.05);
  margin-top: 2px;
}

.selected-info-card {
  background: #fdfcf8;
  border: 1px solid #333;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
}

.info p {
  margin: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.author-label {
  color: #a63d40;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.new-book-section {
  display: grid;
  gap: 25px;
  animation: fadeIn 0.5s ease;
}

.input-row {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.65rem;
  font-weight: 400;
  color: #bdc3c7;
  margin-bottom: 8px;
}

.vintage-input, .vintage-textarea {
  font-family: 'Inter', sans-serif;
  border: 1px solid #e0ddd5;
  background: #fcfbf7;
  padding: 12px;
  font-size: 0.95rem;
  transition: border 0.3s;
  font-style: italic;
}


.form-footer {
  margin-top: 20px;
  text-align: right;
}

.btn-primary {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  background: #fffdf9;
  color: #a63d40;
  border: none;
  border: 1px solid #a63d40;
  padding: 6px 20px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.btn-primary:hover {
  background: #a63d40;
  color: #fffdf9;
  transform: translateY(-2px);
}

.btn-link {
  background: none;
  border: none;
  text-decoration: underline;
  color: #999;
  cursor: pointer;
  margin-left: 15px;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.hint{
  font-family: 'Inter', sans-serif;
  color: #555;
  font-size: 15px;
  letter-spacing: 1px;
}

.search-input:focus, 
.vintage-input:focus, 
.vintage-textarea:focus,
input:focus, 
textarea:focus, 
button:focus {
  outline: none !important;
  box-shadow: none !important; 
  border-bottom: 1px solid #2c2c2c;
}