<nav class="navbar">
  <a routerLink="/" 
     class="logo" 
     routerLinkActive="active" 
     [routerLinkActiveOptions]="{exact: true}">
    LibroShare
  </a>

  <div class="nav-links">
    <a routerLink="/books" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Books</a>
    <a routerLink="/my-books" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My Shelf</a>
    <a routerLink="/requests" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Requests</a>
    <a routerLink="/add-book" class="add-btn">Add Book</a>
  </div>

  <div class="user-actions">
    <a routerLink="/profile" class="profile-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [style.visibility]="authService.isAuthenticated() ? 'visible' : 'hidden'">Profile</a>

    @if (!authService.isAuthenticated()) {
        <a class="login-link" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a>
    } @else {
        <button class="logout-btn" (click)="authService.logOut()">Logout</button>
    }
  </div>
</nav>